@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: #175500cf;
}

::selection {
  color: white;
  background: #175500cf;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

html {
  overflow: hidden !important;
  font-family: Arial, Helvetica, sans-serif !important;
}

.fadefromleft {
  animation: fadeLeft 1s ease-in-out;
}

.ping {
  animation: ping 0.5s ease-in-out 0.2s;
}

.feature {
  margin-bottom: 1em;
  margin-top: 4em;
  width: auto;
  box-shadow: 0px 5px 10px #848484;
  filter: grayscale(100%);
}

.feature:hover {
  margin-top: 1em;
  width: 28em;
  height: auto;
  aspect-ratio: auto;
  box-shadow: 0px 10px 10px #848484;
  border-radius: 10px;
  filter: grayscale(0%);
  transition: 0.5s ease-in-out;
}

.feature-mobile {
  margin-top: 0.5em;
  width: 28em;
  height: auto;
  aspect-ratio: auto;
  box-shadow: 0px 10px 10px #848484;
  border-radius: 10px;
  filter: grayscale(0%);
  animation: feature 1s ease-in-out;
}

@keyframes fadeLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes ping {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }
  50% {
    transform: scale(1.20);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes feature {
  from {
    margin-top: 4em;
    width: auto;
    box-shadow: 0px 5px 10px #848484;
    filter: grayscale(100%);
    animation: feature 0.5s ease-in-out
  }

  to {
    margin-top: 0.5em;
    width: 28em;
    height: auto;
    aspect-ratio: auto;
    box-shadow: 0px 10px 10px #848484;
    border-radius: 10px;
    filter: grayscale(0%);
    transition: 0.5s ease-in-out;
  }
}
